= render "movies/head"
.wrap
  .bar
    新規登録
  .form
    = form_with model: @user, url: user_registration_path, method: :post, class: "form__top", local: true do |f|
      .form__top__main
        = f.label :nickname
        %br/
        = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "form__top__main__field"
      .form__top__main
        = f.label :email, class: "form__top__main__label"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form__top__main__field"
      .form__top__main
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: "form__top__main__field"
      .form__top__main
        = f.label :password_confirmation, class: "form__top__main__label"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form__top__main__field"
      .form__top__main
        = f.submit "Sign up", class: "form__top__action__btn"

      = render "devise/shared/links"
