.header  
  .header__top
    = image_tag "zatu.png", class: "top-img", size: "300x200";
    .header__top__regi
      - if user_signed_in?
        .item
          = current_user.nickname
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'log_btn'
        .postMovie
          = link_to new_movie_path, class: 'log_btn' do
            .postMovie__text
              投稿
            .postMovie__icon
              = icon('fas', 'film', class: "icon")
      - else
        .item
          = link_to "ログイン", new_user_session_path, class: 'log_btn'
        .item
          = link_to "新規登録", new_user_registration_path, class: 'log_btn'
  .cat
    = link_to "カテゴリー", "#", class: "cat__btn"









-#
-#
-# .c
-#   - @parents.each do |parent|
-#     = parent.name
