= render "header"
.movie-show
  雑談ROOM
  .movie-show__title
    = @movie.title
  .movie-show__image
    = image_tag @movie.image.to_s, size: "300x200"
  .movie-show__body
    = @movie.body
    = @user.nickname
    
  .comments
    - if @comments
      - @comments.each do |comment|
        .comments__box
          .comments__box__body
            = comment.comment
          .comments__box__time
            = comment.created_at.strftime("%-m月%d日%-H時%M分")
          .comments__box__user
            = comment.user.nickname

  .comment
    - if current_user
      = form_with(model: [@movie, @comment], local: true) do |form|
        = form.text_area :comment, placeholder: "コメントする", class: "comment__area"
        = form.submit "送信", class: "comment__btn"
    - else
      %pコメントの投稿には新規登録/ログインが必要です
